# Intermediates/Binaries
*.i
*.o
*.bin
*.elf
*.a
mOS

*.got

# Emacs
*.~

# Nix
.envrc
.lock
.nix

# Powershell (b/c qemu's fussy)
*.ps1

# Logging (Qemu)
log.txt

# Hidden Files
**/.*
!.gitignore
!.github
!.clang-format
